@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
.DetailContentBottom{
  padding: 35px 76px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DetailContentBottom .card{
  width: 1008px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 2px #C0CEDB;
  padding: 46px 49px;
  box-sizing: border-box;
}
.cardInner{
  padding: 46px 49px;
  display: flex;
}
.CommitmentsTitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #0F1F19;
  padding-right: 20px;
}

.CommitmentsItem{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #36424D;
  line-height: 24px;
  height: 24px;
  padding-left: 34px;
  position: relative;
  padding-right: 30px;
}

.CommitmentsItem::before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #3C6D97;
}

.Disbursement.CommitmentsItem::before{
  background-color: #0ACF83;
}
  
.DetailContentBottom .LocalTitle{
  display: flex;
}

.DetailContentBottom .LocalCharts{
  display: flex;
  justify-content: space-between;
}

.LocalContractor .ContractorCard {
  width: 291px;
  height: 192px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px 4px rgba(12, 43, 66, 0.15);
  margin-bottom: 20px;
}

.LocalContractor .ContractorCard .ContractorTitle {
  width: 227px;
  height: 43px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 33px;
  line-height: 18px;
  /* or 50% */
  display: flex;
  align-items: center;
  color: #08253D;
}
.LocalContractor .ContractorCard .ContractorDesc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 11px;
  line-height: 18px;
  /* or 200% */
  display: flex;
  align-items: center;
  color: #000000;
}

.ConDesc {
  width: 141.84px;
  height: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  display: flex;
  align-items: center;
  color: #000000;
}

.LocalTitleText {
  width: 254px;
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #0F1F19;
}

.LocalTitleText2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 120% */
  text-align: center;
  /* 09 - Text / Weak */
  color: #3E3E3C;
  margin-left: 365px;
}

.LocalHelp{
  width: 169px;
  height: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 120% */
  text-align: center;
  /* 09 - Text / Weak */
  color: #3E3E3C;
}

.desc {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0F1F19;
  text-align: left;
  float:right;
}
