@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
.leftTitle {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height */
	letter-spacing: 0.04em;
	color: #0C2B42;
	margin: 15px 0;
}

.line {
	width: 417px;
	height: 0px;
	border: 1px solid #C0CEDB;
}

.number {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 20px;
	/* or 118% */
	display: flex;
	align-items: center;
	text-align: right;
	/* 09 - Text / Default */
	color: #080707;
}