@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;500;700&display=swap');
.seriesWrapper{
  width: 276px;
  height: 444px;
  padding: 32px;
  box-sizing: border-box;
  

  color: #FFFFFF;
  margin: 18px 18px;
  background: #3A668A;
  box-shadow: 0px 0px 16px 4px rgba(12, 43, 66, 0.15);
  border-radius: 4px;
}



.seriesTitle{
  font-weight: 300;
  font-size: 28px;
  
  margin-bottom: 8px;
  font-family: Roboto;
  font-style: normal;


  line-height: 33px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}
.series-refunding-bond{
  font-size: 16px;
  
  margin-bottom: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;

  line-height: 19px;
  display: flex;
  align-items: center;

  color: #FFFFFF;

}

.series-bond-rating{
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  height: 38px;
  line-height: 38px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 12px;
  background-color: rgba(243, 243, 243, 0.4);
}



.series-projects{
  padding-bottom: 13px;
}
.series-line{
  height: 2px;
  margin-bottom: 15px;
  background-color: #276AB9;
}
.series-uop{
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12.1543px;
  line-height: 12px;
  margin-bottom: 15px;

}

.series-coupon-rate{
  
  margin-bottom: 15px;
  line-height: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12.1543px;
}

.series-maturity-year{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12.1543px;
  line-height: 12px;
  margin-bottom: 15px;
}


.series-UN-SDGs{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* .series-UN-SDGs img:not(:first-child) {
  margin-left:20px;
} */


.series-UN-SDGs-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
}

.bondRating {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 12px;
  /* or 101% */

  /* 09 - Text / White */
  color: #FFFFFF;
}
